
.homepage{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-image: url('https://i.imgur.com/PFwedDw.jpeg');
    width: 100vw;
    height: 95vh;
}

.homepage-content{
    top: 0;
    right: 10vw;
}