.navBar{
  display: flex;
  width: 100vw;
  height: 5vh;
  background-color: rgb(154, 117, 117);
  justify-content: space-evenly;
  align-items: center;
  z-index: -1;
  border-bottom: solid rgba(0, 0, 0, 0.381) 3px;
}

#song-list-container{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-top: 2vh;
  font-size: 18px;
  gap: 5px;

  height: 80vh;
  overflow-y: auto;
}

#note-display-list{
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  text-align: left;
  white-space: pre;

}

@media (max-width: 1065px) {
  #note-display-list{
      font-size: 16px; /* Constant value */
  }
}

/* Font size for screens 600px and above */
@media (min-width: 1066px) {
  #note-display-list {
      font-size: 1.5vw; /* Percentage of viewport width */
  }
}

.displayed-song{
  background-color: rgba(134, 129, 108, 0.281);
  padding: 10px;
  border-radius: 5px;
  width: 30vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.song-link{
  text-decoration: none;
}

/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #d3d3d8;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #08080b;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}




.tab-string{
  margin: 0;
}

.App {
  text-align: center;
}

body{
  background-color: burlywood;
  box-shadow: 0px 0vw 2vw 0vw black inset;
  width: 100vw;
  height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.song-display{
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.song-holder{
  height: 80vh;

}

.navbar-buttons{
  z-index: 1;
  width: 15vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color:rgba(119, 89, 58, 0.254);
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.navbar-buttons:hover{
  background-color:rgba(119, 89, 58, 0.454);
  transform: translateY(-1px);
}